Django>=1.11,<2.0
psycopg2
requests
django-prettyjson
django-jsoneditor
raven
django-simple-history
celery
sqlalchemy
django-ipware
django-su
-e git+https://github.com/tigrus/dadata-python#egg=dadata
redis
gunicorn
django-cors-headers
