{% load static %}
<head>
  <title>{{username}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script  src="{% static "requestsHandler/js/jsoneditor.min.js" %}"></script>
  
  <link rel="stylesheet" href="{% static "requestsHandler/css/sidebar.css" %}">
  <script  src="{% static "requestsHandler/js/configurator.js" %}"></script>
  <script  src="{% static "requestsHandler/js/bootbox.min.js" %}"></script>
  <script  src="{% static "requestsHandler/js/addform.js" %}"></script>

</head>

<div class="navbar navbar-default">
  <a class="navbar-brand" href="/change_company">{{username}}</a>
  <ul class="nav navbar-nav">
    <li><a href="/accesses">Доступы в amoCRM</a></li>
    <li class="dropdown">
      <a href="/" class="dropdown-toggle" data-toggle="dropdown">Пользователские формы<span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        {% for conf in config.site_forms %}
          <li><a href="/site_forms/{{conf}}">{{conf}}</a></li>
        {% endfor %}
        <li class="divider"></li>
        <li><a href="/site_forms/add_form">Добавить форму</a></li>
      </ul>
    </li>
    <li><a href="/jivo_site">JivoSITE</a></li>
  </ul>
  
  <ul class="nav navbar-nav navbar-right">
    <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Выйти </a></li>
  </ul>
</div>

<div class="container">
  {% if '/add_form' in request.path %}
      <div class="alert alert-warning invalid-name" role="alert" hidden>
        Введите непустое уникальное имя
      </div>
      <form action="/newForm", method="post">{% csrf_token %}
        <div class="form-group">
          <label for="name">Имя новой формы</label>
          <input type="string" class="form-control" name="name" id="name" aria-describedby="Имя" placeholder="Введите имя">
          <small id="emailHelp" class="form-text text-muted">Должно быть уникальным</small>
        </div>
        <button type="submit" class="btn btn-primary addform">Отправить</button>
      </form>
  
  {% else %}
  
    <div class="alert alert-danger invalid-amo" role="alert" hidden>
      Неверные данные для входа в amoCRM!
      <br><a href="/accesses">Доступы в amoCRM</a>
    </div>
    <div id="editor_holder"></div>
    
    <div class="row">
      <div class = "col-xs-2 col-md-2 col-lg-2 col-sm-2 send" hidden>
        <button type="button" class="btn btn-success">Отправить</button>
      </div>
      <div class = "col-xs-2 col-md-2 col-lg-2 col-sm-2 delete-form" hidden>
        <button type="button" class="btn btn-danger">Удалить</button>
      </div>
    </div>
  {% endif %}
</div>